@import "~bootstrap/scss/bootstrap"
@import "slick-carousel/slick/slick.css"
@import "slick-carousel/slick/slick-theme.css"
@import "modules/check"
@import "modules/heartcheckbox"

body
  font-family: 'Work Sans', sans-serif

.text-shadow
  text-shadow: 0 0 1px rgba(black, .38)

.grecaptcha-badge
  z-index: 1000
